<main>
    <center>

      <h4 class="titu">ADMINISTRAR PRODUCTOS</h4>

      <div class="container">

        <table id="tabla1" class="responsive-table centered highlight">

          <thead>
            <tr>
                <th>Imagen</th>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Categoria</th>
                <th>Fin de campaña</th>
                <th>Tienda</th>
                <th>Stock</th>
                <th>precio</th>
                <th>estado</th>  
                <th>
                </th>     
            </tr>
          </thead>

          <tbody>
            <tr id="imasA" ng-repeat="articulo in articulos">
              <td> <img ng-src="{{articulo.arrayIma[0]['ruta']}}" alt=""> </td>
              <td>{{articulo.id}}</td>
              <td>{{articulo.nombre}}</td>
              <td>{{articulo.descripcion}}</td>
              <td>{{articulo.categoria}}</td>
              <td>
                <input type="date" data-date-format="dd/mm/yyyy" ng-model="articulo.fechaFinCampanha" disabled>
              </td>
              <td>{{nombreTiendas[articulo.idTienda]}}</td>
              <td>{{articulo.stock}}</td>
              <td>{{articulo.precio}}€</td>
              <td>{{articulo.estado}}</td>
              <td class="t">
                <button data-target="mymodal1" ng-click="modif()" class='boton-circular-azul modal-trigger'><i class="material-icons">edit</i></button>
                <button data-target="mymodal1" ng-click="borrar()" class='boton-circular-rojo modal-trigger'><i class="material-icons">delete_forever</i></button>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
    </center>
</main>

<div id="mymodal1" class="modal">
  <div class="modal-header {{modal.hColor}}">
    <h4><i class="material-icons">{{modal.icono}}</i>{{modal.titulo}}</h4>  
  </div>
  <div class="modal-content">
    <form class="col s12 {{modal.rCampos}}" method="post">  
      <fieldset class="fModal" id="fModal1">
        <legend>&nbsp;&nbsp;Datos del producto&nbsp;&nbsp;</legend>
        <div class="row">
          <div class='input-field col s12 m6 l6 xl6'>
            <i class="material-icons prefix">settings_ethernet</i>
            <input name='id' ng-model="modal.datos.id" disabled/>
            <label class="active" for='id'>id</label>
          </div>
          <div class='input-field col s12 m6 l6 xl6'>
            <i class="material-icons prefix">font_download</i>
            <input class="validate" type='text' name='nombre' ng-model="modal.datos.nombre" ng-disabled="staDisabled == true"/>
            <label class="active" for='nombre'>Nombre</label>
          </div>
          <div class='input-field col s12 m6 l6 xl6'>
            <i class="material-icons prefix">note</i>
            <input type='text' name='descripcion' ng-model="modal.datos.descripcion" ng-disabled="staDisabled == true"/>
            <label class="active" for='descripcion'>Descripción</label>
          </div>
          <div class='input-field col s12 m6 l6 xl6'>
            <i class="material-icons prefix">date_range</i>
            <input type='date' data-date-format="dd/mm/yyyy" name='fechaFinCampanha' ng-model="modal.datos.fecha" ng-disabled="staDisabled == true"/>
            <label class="active" for='fechaFinCampanha'>Fin de campaña</label>
          </div>
          <div class='input-field col s12 m6 l6 xl6'>
            <i class="material-icons prefix">drag_indicator</i>
            <input class="validate" type='number' min="0" name="stock" ng-model="modal.datos.stock" ng-disabled="staDisabled == true"/>
            <label class="active" for='stock'>Stock</label>
          </div>
          <div class='input-field col s12 m6 l6 xl6'>
            <i class="material-icons prefix">euro_symbol</i>
            <input class="validate" type='number' min="0.01" step="0.01" name='precio' ng-model="modal.datos.precio" ng-disabled="staDisabled == true"/>
            <label class="active" for='precio'>Precio</label>
          </div>
          <div class='select-field col s12 m6 l6 xl6'>
            <i class="small material-icons prefix">local_offer</i>
            <label class="active" for='lacategoria'>Categoria</label>
            <select name="lacategoria" ng-model="modal.datos.categoria" class="browser-default" ng-disabled="staDisabled == true">
              <option value="" disabled selected>-- elige una --</option>
              <option ng-repeat="c in categorias">{{c.nombre}}</option>
            </select>
          </div>
          <div class='select-field col s12 m6 l6 xl6'>
            <i class="small material-icons prefix">store_mall_directory</i>
            <label class="active" for='latienda'>Tienda</label>
            <select name="latienda" ng-model="modal.datos.idTienda" class="browser-default" ng-disabled="modal.datos.id!=null">
              <option value="" disabled selected>-- elige una --</option>
              <option ng-repeat="t in tiendas" value="{{t.id}}">{{t.nombre}} - {{t.ciudad}}</option>
            </select>
          </div>
          <div id="u" class='select-field col s12 m6 l6 xl6'>
            <i class="small material-icons prefix">assignment_turned_in</i>
            <label class="active" for='elestado'>Estado</label>
            <select name="elestado" ng-model="modal.datos.estado" class="browser-default" ng-disabled="staDisabled == true">
              <option value="" disabled selected>-- elige uno --</option>
              <option ng-repeat="e in losEstados">{{e.nombre}}</option>
            </select> 
          </div>
        </div>
      </fieldset>
      <fieldset class="fModal">
        <legend>&nbsp;&nbsp;Imagenes&nbsp;&nbsp;</legend>
        <table class="responsive-table">
          <thead>   
            <tr>
                <th>Id Imagen</th>
                <th>Imagen</th>
                <th>
                    <button data-target="fff" ng-click="fff" class='boton-circular-verde' ng-disabled="staDisabled == true"><i class="material-icons">add_photo_alternate</i></button>
                </th>     
            </tr>
          </thead>
          <tbody>
            <tr id="imasA" ng-repeat="imagen in modal.datos.arrayIma">
              <td>{{imagen.id}}</td>
              <td> <img ng-src="{{imagen['ruta']}}" alt=""> </td>
              <td>
                  <button data-target="hhhhh" ng-click="hhhhh" class='boton-circular-rojo modal-trigger' ng-disabled="staDisabled == true"><i class="material-icons">delete_forever</i></button>
              </td>
            </tr>
          </tbody>  
        </table class="responsive-table">
      </fieldset>
    </form>
    
  </div>
  <div class="modal-footer">
      <button ng-click="queHacer()" class='{{modal.btTipo}} btn'><i class="material-icons left">{{modal.bIcono}}</i>{{modal.boton}}</button>
      <button ng-click="cerrarModal('#mymodal1')" class='boton-rojo btn'><i class="material-icons left">cancel</i>Cancelar</button>
  </div>
</div>

<div id="mymodal2" class="modal">
  <div class="modal-header teal lighten-5">
    <h4><i class="material-icons">chat</i>Mensaje</h4>  
  </div>
  <div class="modal-content">
    <p id="m">{{mensaje}}</p>
    
  </div>
  <div class="modal-footer">
      <button ng-click="cerrarModal('#mymodal2')" class='boton-azul btn'><i class="material-icons left">eject</i>Aceptar</button>
  </div>
</div>
