  <ul id="dropdown1" class="dropdown-content">
    <li ng-if="elUsuario.staLogeado()=='no'"><a href="#iniSesion">Iniciar Sesión</a></li>
    <li ng-if="elUsuario.staLogeado()=='no'"><a href="#registro">Registrarse</a></li>
    <li ng-if="elUsuario.staLogeado()=='si'"><a href="#modPerfil">modificar perfil</a>
    <li ng-if="elUsuario.staLogeado()=='si'"><a ng-click="cerrarSesion()">Cerrar Sesión</a></li>
  </ul>
  <ul id="dropdown2" class="dropdown-content">
    <li></li>
    <li ng-if="elUsuario.staLogeado()=='no'"><a href="#iniSesion">Iniciar Sesión</a></li>
    <li ng-if="elUsuario.staLogeado()=='no'"><a href="#registro">Registrarse</a></li>
    <li ng-if="elUsuario.staLogeado()=='si'"><a href="#modPerfil">modificar perfil</a>
    <li ng-if="elUsuario.staLogeado()=='si'"><a ng-click="cerrarSesion()">Cerrar Sesión</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper teal lighten-2">
      <a href="#inicio" class="brand-logo mylogo">&nbsp;t<span class="h">h</span><span class="e">e </span>g<span class="h">e</span><span class="e">e</span>s<span id="K540521G" class="h">e</span><i id="J274F820" class="material-icons right">pages</i></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li ng-if="elUsuario.getTipo()==1"><a href="#admiTiendas"><i class="material-icons left">business</i>TIENDAS</a></li>
        <li ng-if="elUsuario.getTipo()==1"><a href="#listas"><i class="material-icons left">list</i>LISTAS</a></li>
        <li ng-if="elUsuario.getTipo()==2"><a href="#listas"><i class="material-icons left">list</i>LISTAS</a></li>
        <li ng-if="elUsuario.getTipo()==1"><a href="#admiProductos"><i class="material-icons left">dashboard</i>PRODUCTOS</a></li>
        <li ng-if="elUsuario.getTipo()==2"><a href="#gestProductos"><i class="material-icons left">dashboard</i>PRODUCTOS</a></li>
        <li ng-if="elUsuario.getTipo()==3"><a href="#reserProductos"><i class="material-icons left">dashboard</i>PRODUCTOS</a></li>
        <li ng-if="elUsuario.getTipo()==4"><a href="#verPrductos"><i class="material-icons left">dashboard</i>PRODUCTOS</a></li>
        <li ng-if="elUsuario.getTipo()==1"><a href="#admiEventos"><i class="material-icons left">directions_walk</i>EVENTOS</a></li>
        <li ng-if="elUsuario.getTipo()==2"><a href="#gestEventos"><i class="material-icons left">directions_walk</i>EVENTOS</a></li>
        <li ng-if="elUsuario.getTipo()==3"><a href="#reserEventos"><i class="material-icons left">directions_walk</i>EVENTOS</a></li>
        <li ng-if="elUsuario.getTipo()==4"><a href="#verEventos"><i class="material-icons left">directions_walk</i>EVENTOS</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons left">person</i>{{elUsuario.getNom()}}<i class="material-icons right">arrow_drop_down</i></a></li> 
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a class="dropdown-button" href="#!" data-activates="dropdown2"><i class="material-icons left">person</i>{{elUsuario.getNom()}}<i class="material-icons right">arrow_drop_down</i></a></li>
        <li ng-if="elUsuario.getTipo()==1"><a href="#admiTiendas"><i class="material-icons left">business</i>TIENDAS</a></li> 
        <li ng-if="elUsuario.getTipo()==1"><a href="#listas"><i class="material-icons left">list</i>LISTAS</a></li>
        <li ng-if="elUsuario.getTipo()==2"><a href="#listas"><i class="material-icons left">list</i>LISTAS</a></li>
        <li ng-if="elUsuario.getTipo()==1"><a href="#admiProductos"><i class="material-icons left">dashboard</i>PRODUCTOS</a></li>
        <li ng-if="elUsuario.getTipo()==2"><a href="#gestProductos"><i class="material-icons left">dashboard</i>PRODUCTOS</a></li>
        <li ng-if="elUsuario.getTipo()==3"><a href="#reserProductos"><i class="material-icons left">dashboard</i>PRODUCTOS</a></li>
        <li ng-if="elUsuario.getTipo()==4"><a href="#verPrductos"><i class="material-icons left">dashboard</i>PRODUCTOS</a></li>
        <li ng-if="elUsuario.getTipo()==1"><a href="#admiEventos"><i class="material-icons left">directions_walk</i>EVENTOS</a></li>
        <li ng-if="elUsuario.getTipo()==2"><a href="#gestEventos"><i class="material-icons left">directions_walk</i>EVENTOS</a></li>
        <li ng-if="elUsuario.getTipo()==3"><a href="#reserEventos"><i class="material-icons left">directions_walk</i>EVENTOS</a></li>
        <li ng-if="elUsuario.getTipo()==4"><a href="#verEventos"><i class="material-icons left">directions_walk</i>EVENTOS</a></li>
        <li><a href="#verEventos"><i class="material-icons left">directions_walk</i>EVENTOS</a></li>
      </ul>
    </div>
  </nav>