<main id="blanco">
    <center id="cent">

	<br>
	<h1>DOCUMENTACIÓN PROYECTO FINAL DAW</h1>

	<img id="ima1" src="../ima/documentacion.jpeg" alt="">
	<br>

	<p>Alumno: Iván Araujo Otero &nbsp;&nbsp;&nbsp;&nbsp; Lugar: IES de Teis</p>

	<p>Curso: Desenvolvemento de Aplicacions Web</p>

	<p>Materias: DWCS, DWCC y DIW</p>

	<p>Profesores: Patricia González Pardo y Stefano Maggi Díaz</p>
	
	<br>
	<br>
	
	<h1>AGRADECIMIENTOS</h1>	

	<p>A mis profesores Stefano, Patricia y María.</p>

	<p>A mis compañeros, en especial a Antonio, Jorge y Juán.</p>

	<p>A las webs Stack Overflow y php.net</p>

	<br>
	<br>

	<h1>INDICE</h1>
	

	<div id="alin">		

			<p>1- INTRODUCCIÓN</p>
			<p>2- DESARROLLO</p>
			<p>2-1 PARTE DE SERVIDOR O BACK END</p>
			<p>2-1-1 CASES</p>
			<p>2-1-2 FUNCIONALIDADES</p>
			<p>2-1-3 PERMISOS DE CADA USUARIO</p>
			<p>2-2 PARTE DE CLIENTE O FRONT END</p>
			<p>2-2-1 PROGRAMACIÓN</p>
			<p>2-2-1-1 ESTRUCTURA VISTA CONTROLADOR</p>
			<p>2-2-1-2 SECCIONES DE CADA USUARIO</p>
			<p>2-2-2 DISEÑO</p>
			<p>3- CONCLUSIONES Y LINEAS FUTURAS</p>
			<p>4- ESQUEMA GLOBAL DEL SISTEMA</p>
			<p>4-1 CASOS DE USO</p>
			<p>4-2 ESQUEMA BASE DE DATOS</p>	
			<p>5- TECNOLOGÍAS USADAS</p>
			<p>5-1 BACK END</p>
			<p>5-1-1 PHP</p>
			<p>5-1-2 MYSQL</p>
			<p>5-2 FRONT END</p>
			<p>5-2-1 JAVA SCRIPT CON ANGULARJS</p>
			<p>5-2-2 MATERIALIZE</p>
			<p>5-3 GITLAB</p>
			<p>6- PRESUPUESTO</p>
			<p>7- BIBLIOGRAFIA</p>	

	</div>

	<br>
	<br>

	<div class="aling2">

	<p>1- INTRODUCCIÓN</p>	
	
	<p>Esta aplicación sirve para gestionar las actividades de una ONG llamada the help que se basan en la venta de productos y organización de eventos de forma solidaria para recaudar dinero para los mas necesitados.</p>

	<p>Para ello contamos con dos tipos de cargos de la ONG que se encargaran de plantear y administrar las actividades de the help en la web.</p>

	<p>Por un lado tenemos a la figura del gestor, un  tipo de cargo designado por la direcctiva de la ONG que podrá proponer nuevos productos y eventos para su venta o organización en diferentes tiendas o lugares a través de nuestra app online facilitando así su llegada al publico.</p>

	<p>Por el otro esta la figura del administrador, también nombrados por the help cuya labor es tomar las decisiones finales sobre la aceptación final de los productos y eventos que designen los gestores. Ademas de la administración de la tiendas a través de las que venden sus productos.</p>

	<p>Esto permite al gran publico poder saber en tiempo real que productos y eventos ofrece la ONG y poder reservarlos cómodamente desde sus hogares o a través de cualquier dispositivo móvil.</p>

	</div>

	<br>
	<br>

	<div class="aling2">

	<p>2- DESARROLLO</p>
	<p>2-1 PARTE DE SERVIDOR O BACK END</p>
	<p>2-1-1 CASES</p>	
	<p>Aquí tenemos por un lado las clases necesarias para el funcionamiento de la aplicación, definidas con “namespaces” para organizarlas y evitar problemas si se amplia la aplicación con otras clases con nombres similares, para ello la estructura de los nombres de los “namespaces” es “nombre de clase”nombre carpeta donde esta situada” siguiendo el estilo de escritura CamelCase de tipo lowerCamelCase,  un estilo también presente en el resto de la aplicación para mayor organización, por ejemplo “namespace productoClases”.</p>
	
	<p>Ademas de utilizado un “interface” y un “trait” que se llaman igual pero puden ser diferenciados gracias a los “namespace”, una ventaja mas de su uso.</p>	

	<p>Para la inicialización de objetos he utilizado en los constructores un sistema universal basado en la entrada de parámetros metidos en un “array” que es recorrido por un “foreach” que asigna cada valor a su variable correspondiente, lo cual me permite crear clases con mayor rapidez.</p>

	</div>

	<img src="../ima/Captura realizada el 2018-05-30 03.42.48.png" alt="">

	<div class="aling2">
	<p>He implementado herencia en tres grupos de clases:</p>

	<p>· usuario y participante que descienden de persona</p>
	<p>· evento y producto que descienden de cosa</p>

	<p>· reservaProducto  y reservaEvento descienden de reserva.</p>

	<p>Todas las clases padre son abstractas.</p>

	<p>Para la interacción con la base de datos he creado una clase estática “consultas” donde he creado métodos universales para hacer “select” , “insert” y “update” de forma fácil y segura a través de sentencias preparadas.</p>

	<p>Por otro lado para pasar los datos al cliente de cada clase e implementado y codificado el “interface JsonSerialize” que nos permite crear una función con los datos que queremos mandar al cliente sin problemas con los atributos privados, dándonos una gran facilidad para enviar datos al cliente. </p>

	<br>
	<br>

	<p>2-1-2 FUNCIONALIDADES</p>

	<p>Estas se dividen en diferentes archivos php separados según los permisos de usuario necesarios para ejecutarlos, que se comprobaran al inicio de cada uno de ellos, salvaguardando así la seguridad de la aplicación.</p>

	<p>Cada funcionalidad tras comprobar los permisos comprobara que opción debe realizar a través de un parámetro recibido del cliente que pasara por un “switch”.</p>

	<p>Cualquier error en los parámetros revividos del cliente hará saltar usa excepción que enviara un “array” al cliente indicando por un lado el estado, en este caso error y un mensaje indicándole el problema, este mensaje no debe ser demasiado técnico y explicito para evitar dar datos sobre el funcionamiento del servidor.</p>

	<p>En caso de que la funcionalidad se haya realizado correctamente se enviara un “array” indicando éxito y un mensaje indicando que la operación se ha realizado correctamente o los datos solicitados según corresponda al tipo de tarea.</p>

	<p>Tipos:</p>

	<p>Por un lado tenemos los de muestran los que envían al cliente los datos que desean ver, estos se dividen en dos grupos para los que hay diferentes archivos, los administradores y gestores, y en otra parte usuarios registrados y anónimos.  Esto es así porque para ver la información los integrantes de cada grupo tienen los mismos permisos.</p>

	<p>Por otro lado para realizar las diferentes acciones de cada tipo de usuario puede realizar tenemos un archivo propio según corresponda, administrar, gestionar y reservar. El anónimo no tiene acciones propias, salvo registrarse que trataremos en el siguiente apartado. </p>

	<p>Finalmente disponemos de otro archivo que se ocupara de todo lo relativo a sesiones. Registrase(solo para crear usuarios tipo registrado), logearse y modificar el perfil.</p>

	<p>La contraseña de cada usuario se guarda con un “hash” para mayor seguridad.</p>

	<p>NOTA: El usuario tipo anónimo solo debe tener permiso de hacer “select” en la mayoría de las tablas y permiso de “insert” solo sobre la tabla usuario para poder registrar un nuevo usuario, pero debido a que mi proveedor de hosting no me permite asignar permisos por tablas me veo obligado a establecer una conexión como tipo de usuario registrado y así poder realizar el “insert” sin comprometer la seguridad de la aplicación.</p>

	<br>
	<br>

	<p>2-1-3 PERMISOS DE CADA USUARIO</p>

	<p>Gestor:</p>

	<p>· Crear nuevos productos que tendrán estado “Propuesto”.</p>

	<p>· Crear nuevos eventos aportando una lista de fechas posibles.</p>

	<p>· Modificar características de productos y eventos, exceptuando el estado de los productos ni tampoco la fecha final de los eventos.</p>

	<p>· Listar reservas según un rango de fechas.</p>

	<p>Administrador:</p>

	<p>· Aceptar productos propuestos por el gestor o retirar los ya aceptados.</p>

	<p>· Elegir una fecha definitiva los eventos las ya propuestas. </p>

	<p>· Modificar características de productos y eventos.</p>

	<p>· Crear y modificar tiendas.</p>

	<p>· Listar reservas según un rango de fechas.</p>

	<p>Usuario Registrado:</p>

	<p>· Ver productos con estado aceptado y filtrarlos por categoría.</p>

	<p>· Ver eventos con fecha definitiva y filtrarlos por rango de fechas.</p>

	<p>· Reservar productos y eventos</p>

	<p>Usuario Anónimo:</p>

	<p>· Ver productos con estado aceptado y filtrarlos por categoría.</p>

	<p>· Ver eventos con fecha definitiva y filtrarlos por rango de fechas.</p>

	<p>· Registrarse y convertirse en usuario registrado.</p>

	<br>
	<br>

	<p>2-2-1 PROGRAMACIÓN</p>
	<p>2-2-1-1 ESTRUCTURA VISTA CONTROLADOR</p>

	<p>La parte de parte de programación en cliente se estructura en dos partes interconectadas.</p>

	<p>Por un lado los las vistas en html y por otro el controlador que interactuá con cada una y a su vez se comunica con el cliente mediante peticiones.
	Ademas habrá unas vistas y controladores comunes que corresponden al menú superior y al footer. 
	</p>

	<p>Estos controladores y vistas están unidos a su vez por un controlador global y una vista con tan solo precargados menú y footer, en la que después se irán cargando las diferentes partes de la aplicación.</p>

	<p>Dentro de estas vistas el usuario podrá solicitar la ejecución de una acción determinada de forma gráfica, el controlador deberá validar los datos enviados por el cliente(si esa acción los requiere) lanzando errores en caso de no ser correctos. Acto seguido les efectuara el tapamiento previo al envió al servidor(tipado de parámetros por ejemplo..) si es necesario, y los enviara al archivo correspondiente del servidor junto con las opciones que indican al servidor que queremos hacer concretamente(para que un switch se comprueben).</p>

	<p>Finalmente tras recibir la respuesta del servidor, se comprobara la sección “estado” del array recidivo, en caso de esta no existir se lanzara un error al cliente, si esta existe y nos indica un fallo iremos a la sección donde se nos indicara el tipo de fallo y lo mostraremos por pantalla. Si felizmente la lección existo nos indica existo mostraremos el mensaje correspondiente también por pantalla al cliente(salvo en acciones automáticas) y efectuaremos las instrucciones que le sigan en cliente, si estas se requieren. </p>

	<p>Cada una de las vistas(con sus controladores correspondientes) corresponde a un tipo de usuario y no podrán ser visualizadas por un usuario que no corresponda.</p>

	<p>Cuando ningún usuario este logeado deberá indicarse en la barra superior que es anónimo dándole opciones para autentificarse como usuario ya existente, registrarse(solo como usuario tipo registrado).</p>

	<p>Cuando el usuario este logeado su nombre aparecerá en la barra superior ademas de opciones para modificar su perfil y cerrar sesión si lo desea.</p>

	<br>
	<br>

	<p>2-2-1-2 SECCIONES DE CADA USUARIO</p>

	<p>Usuario Administrador:</p>

	<p>· Productos: vista especial para administrador donde podrá realizar de forma gráfica  sus tareas asignadas sobre productos.</p>

	<p>· Eventos: vista especial para administrador donde podrá realizar de forma gráfica  sus tareas asignadas sobre eventos.
	</p>

	<p>· Tiendas: vista especial para administrador donde podrá realizar de forma gráfica  sus tareas asignadas sobre tiendas.</p>

	<p>· Listados: vista que comparte con el gestor donde podrá listar y filtrar reservas. </p>

	<p>Usuario Gestor:</p>

	<p>· Productos: vista especial para gestor donde podrá realizar de forma gráfica  sus tareas asignadas sobre productos.</p>

	<p>· Eventos: vista especial para gestor donde podrá realizar de forma gráfica  sus tareas asignadas sobre eventos.
	</p>

	<p>· Listados: vista que comparte con el administrador donde podrá listar y filtrar reservas.</p>

	<p>Usuario Registrado:</p>

	<p>· Productos: vista especial para usuarios registrados donde podrán realizar de forma gráfica  sus tareas permitidas sobre productos.
	</p>

	<p>· Eventos: vista especial para usuarios registrados donde podrán realizar de forma gráfica sus tareas permitidas sobre eventos.</p>

	<p>Usuario Anónimo:</p>
	
	<p>· Productos: vista especial para usuarios anónimos donde podrán ver y filtrar productos.</p>

	<p>· Eventos: vista especial para usuarios anónimos donde podrán ver y filtrar eventos.</p>

	<p>Vistas comunes:</p>

	<p>· Inicio: Vista de introducción sobre la ONG the help.</p>

	<br>
	<br>

	<p>2-2-2 DISEÑO</p>

	<p>Para el diseño usaremos por un lado estilos propios específicos para la pagina, un framework basado en hojas de estilo y un “mini- framework” propio con botones de diferentes formas y tamaños y algunas clases que podrán ser reutilizadas en otra aplicación y así ahorrar tiempo en el futuro.</p>

	<p>Para mostrar la listados y eventos y productos en modo administrador y gestor usaremos tablas ordenadas. Mientras que en modo usuario registrado y anónimo se mostraran de forma mas voluminosa en linea de uno o dos.</p>

	<p>Para efectuar acciones de registrado, logeado o modificación de datos de perfil usaremos un cuadrado gris claro.</p>

	<p>Mientras que para hacer modificaciones de características de eventos, productos o tiendas usaremos una ventana modal. Ademas tendremos otra ventana modal en todas las partes de la aplicación para mostrar mensajes de existo o error de acciones.</p>

	<br>
	<br>

	<p>3- CONCLUSIONES Y LINEAS FUTURAS</p>

	<p>El desarrollo de esta aplicación demuestra la dificultad y complejidad de desarrollar una aplicación web, al tener que unir y comunicar de forma sinvionica diferentes tecnologías para que trabajen juntas como una, interconectar cada parte de la aplicación con la siguiente se vuelve una tarea ardua pero que al final siempre trae una recompensa cuando se logra el correcto funcionamiento.</p>

	<p>Creo que no podría decir que parte de la aplicación fue mas difícil, aunque creo que el mayor esfuerzo lo requiere el back-end(servidor) por su complejidad con la conexión a la base de datos y el tratado de los datos.</p>

	<p>Mi objetivo es seguir desarrollando la aplicación y mejorarla para tenerla expuesta en mi pagina web personal a modo de portfolio para así demostrar mis cualidades como programador y así proyectarme mejor hacia el mundo laboral.</p>

	<p>En los aspectos principales que voy a mejor en un futuro próximo destacan los siguientes:</p>

	<p>· Mejorar y hacer mas eficiente y seguro(si se puede) el código de ejecución tanto en servidor como en cliente.</p>

	<p>· Mejorar visualmente la pagina, especialmente en la parte donde se muestran eventos y productos para los usuarios registrados y anónimos.
	</p>

	<p>· Buscar en implementar aun mas tecnologías que justo con las ya existentes puedan ayudar a la aplicación.</p>

	<p>· Depurar a fondo cualquier bug que pueda haber.</p>

	<p>· Dar mas opciones y posibilidades a las acciones que se pueden realizan en la aplicación. </p>

	<p>No se a podido desarrollar mejor y mas la aplicación por falta de tiempo.</p>
	
	<br>
	<br>
	
	<p>4- ESQUEMA GLOBAL DEL SISTEMA</p>
	<p>4-1 CASOS DE USO</p>

	<img src="../ima/esquema.jpg" alt="">
	
	<p>*Nota: diferenciamos VER PRODUCTOS(1) Y VER PRODUCTOS(2) porque es distinto de unos para otros</p>

	<br>
	<br>

	<p>4-2 ESQUEMA BASE DE DATOS</p>
	</div>
	<img id="mbd" src="../ima/myBD.png" alt="">

	<div class="aling2">
	<p>5- TECNOLOGÍAS USADAS</p>
	<p>5-1 BACK END</p>
	<p>5-1-1 PHP</p>
	</div>
	<img class="mbd2" src="../ima/php.png" alt="">

	<div class="aling2">
		<p>En la para del servidor para la programación he utilizado el lenguaje php (Hypertext Preprocessor), un lenguaje débilmente tipado que no nos obliga a haber tipados todo el tipo con los datos</p>
		<p>Lo que mas me gusta de este lenguaje es su flexibilidad para adaptarse a la comunicación tanto con cliente como con la base de datos, así como su ágil sintaxis en comparación con otros lenguajes mas “toscos”.</p>
		<p>Me parece un lenguaje muy importante, que tiene quizás el papel mas importante de un aplicación web, y es salvaguardar los datos del servidor y la seguridad.</p>
		<p>A nivel personal debo decir que me ha costado un poco aprenderlo, pero la verdad es que me esta gustando mucho. De hecho me gustaría me gustaría especializarme en este lenguaje.</p>
		<p>Su implementación con objetos, a pesar de ser un lenguaje que sus inicios estaba pensado para ello,  es bastante buena y los interfaces y traits suplen su carencia de herencia múltiple.</p>
		<p>Utilizamos la  clase PDO para la conexión e interacción la base de datos de la que hablaremos en el siguiente apartado. </p>
	<br>
	<br>
		<p>5-1-2 MYSQL</p>
	</div>

	<img class="mbd2" src="../ima/mysql.jpg" alt="">

	<div class="aling2">
	<p>La base de datos es MySql, una base de datos relacional que nos permite almacenar los datos la aplicación, lo que quizás es otra de las cosas importantes del programa. </p>
	<br>
	<br>
	<p>5-2  FRONT END</p>
	<p>5-2-1 JAVA SCRIPT CON ANGULARJS</p>
	</div>
	<img class="mbd2" src="../ima/js.png" alt="">
	<img class="mbd2" src="../ima/agular.jpg" alt="">

	<div class="aling2">
		<p>Del lado del servidor utilizamos para la programación JavaScript con el framework AngularJS(Angular 1).</p>
		<p>Java Script es un lenguaje sencillo pero potente para cliente, por si su utilización se hace algo ardua dado que todo el tiempo hay que escribir cosas al cliente de forma directa, pero con la ayuda de algún framework se avanza mucho mas rápido.</p>
		<p>AngularJS aunque al principio se hace un poco difícil de comprender acaba agilizando mucho el trabajo al establecer una comunicación directa con el html que se muestra, ayudando mucho en desarrollo de la aplicación.
		Este entre otras cosas nos permite decidir que puede y que no puede ver cada usuario, por ello también es bastante importante dentro de la aplicación.
		</p>
		<br>
		<br>
		<p>5-2-3 MATERIALIZE</p>
	</div>
		<img class="mbd2" src="../ima/materialize.png" alt="">
	<div class="aling2">
		<p>A pesar de que en las especificaciones del proyecto se recomendaba utilizar bootstrap como  framework de CSS me apetecía aprovechar el proyecto para aprender otro framework y tras consultar con el profesor correspondiente sobre esta posibilidad decidir buscar un  framework diferente que me sirviese para aprender algo nuevo de esta parte.
		</p>
		<p>El framework escogido fue Materialize CSS, un framework basado en el concepto Material Desing que a pesar de ser bastante nuevo se esta consolidando entre los framework de CSS mas utilizados del momento.</p>
		<p>Sus características principales son una orientación total a webs responsivas, permite muchas personalizaciones de colores para cualquier elemento, algo que se agradece bastante.
		</p>
		<p>Aunque el aprendizaje totalmente autónomo fue un poco arduo al principio, no me arrepiento de haberme lanzado con el porque he aprendido muchas cosas.</p>
		<p>Ademas este framework lo he complementado con lo que llamo mi “mini-framework”, un pequeño CSS con diferentes botones y clases que pueden ser reutilizados en otra aplicación.</p>
		<p>Ambas cosas se complementan muy bien aunque debo decir que en esta parte aun me queda un poco de desarrollo.</p>
		<br>
		<br>
		<p>5-2 GITLAB</p>
	</div>
		<img class="mbd2" src="../ima/git.png" alt="">
		<div class="aling2">
		<p>Esta tecnología no se uso directamente sobre el proyecto pero si fue importante para su desarrollo.</p>
		<p>Los repositorios git permiten un control sobre las versiones y desarrollo de un proyecto, permitiendo subir nuestros avances a Internet y bajarlos en cualquier parte para trabajar sobre ellos. Permitiéndonos también volver a versiones anteriores del mismo si nos arrepentimos de los cambios realizados, e incluso crear diferentes ramas para un desarrollo paralelo de diferentes versiones.</p>
		

		<br>
		<br>

		<p>6- PRESUPUESTO</p>

		<p>Primer Año:</p>
		<p>· En este proyecto he trabajado unas 8 horas al día durante unos 70 días, lo que da un total de unas 560 horas.</p>
		<p>· Imaginemos que cobrase por hora unos 15€</p>
		<p>· Unos 100€ al año saldría un dominio especializado.</p>
		<p>· Unos 300€ al año un buen hosting.</p>
		<p>* Total primer año 8730€</p>
		<br>

		<p>Siguientes Años:</p>
		<p>· Unos 200€ mensuales por mantenimiento.</p>
		<p>· Imaginemos que cobrase por hora unos 15€</p>
		<p>· Unos 100€ al año saldría un dominio especializado.</p>
		<p>· Unos 300€ al año un buen hosting.</p>
		<p>* Total Siguientes años 2800€ anuales</p>

		<br>
		<br>

		<p>7- BIBLIOGRAFIA</p>

		<p>En este caso mas que bibliografia seria web-bliografia.</p>
		<p>Esta fue principalmente en visitas a las webs Stack Overflow, php.net y foros sobre programación web, ademas de búsquedas continuas en google.</p>
		</div>
		<p><b>**IvánAO**</b></p>
		<br>
		<br>


	</center>
</main>