<main>
    <center>

      <h4 class="titu">GESTIONAR EVENTOS</h4>

      <div class="container">

        <table id="tabla1" class="responsive-table centered highlight">

          <thead>
            <tr>
                <th>Imagen</th>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Lugar</th>
                <th>Fecha Definitiva</th>
                <th>Aforo</th>
                <th>Entrada</th>
                <th>E.Disponibles</th>
                <th>Participantes</th> 
                <th>
                    <button data-target="mymodal1" ng-click="anhadir()" class='boton-circular-verde modal-trigger'><i class="material-icons">playlist_add</i></button>
                </th>     
            </tr>
           </thead>

          <tbody>
            <tr id="imasA" ng-repeat="evento in eventosC">
              <td><img class="imasV" ng-src="{{evento.rutaImagen}}" alt=""></td>
              <td>{{evento.id}}</td>
              <td>{{evento.nombre}}</td>
              <td>{{evento.descripcion}}</td>
              <td>{{evento.lugar.lugar}}</td>
              <td>{{evento.fecha}}</td>
              <td>{{evento.aforo}}</td>
              <td>{{evento.precioEntrada}}€</td>
              <td>{{evento.entradasDisponibles}}</td>
              <td>{{evento.arrayParticipantes.length}}</td>
              <td class="t">
                <button data-target="mymodal1" ng-click="modif()" class='boton-circular-azul modal-trigger'><i class="material-icons">build</i></button>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
    </center>
</main>

<div id="mymodal1" class="modal">
  <div class="modal-header {{modal.hColor}}">
    <h4><i class="material-icons">{{modal.icono}}</i>{{modal.titulo}}</h4>  
  </div>
  <div class="modal-content">
    <form class="col s12 {{modal.rCampos}}" method="post">
      <fieldset class="fModal" style="{{modal.ocultar}}">
        <legend>&nbsp;&nbsp;Opciones&nbsp;&nbsp;</legend>
        <div class="row">
          <div class='select-field o col s12 m6 l6 xl6' id="ch">
            <input name="elegir" type="radio" ng-click="tipoInsercion()" ng-model="opcionAdd" id="opcion1" value="a"/>
            <label for="opcion1">Nuevo Evento Completo</label>
          </div>
          <div class='select-field o col s12 m6 l6 xl6' id="ch">
            <input name="elegir" type="radio" ng-click="tipoInsercion()" ng-model="opcionAdd" id="opcion2" value="b"/>
            <label for="opcion2">Solo nuevo tipo de evento</label>
          </div>
          <div class='select-field o col s12 m6 l6 xl6' id="ch">
            <input name="elegir" type="radio" ng-click="tipoInsercion()" ng-model="opcionAdd" id="opcion3" value="c"/>
            <label for="opcion3">Añadir a tipo de evento ya existente</label>
          </div>
        </div>
      </fieldset>
       <fieldset class="fModal" style="{{ocultarH}}">
        <legend>&nbsp;&nbsp;Acciones Posibles&nbsp;&nbsp;</legend>
        <div class="row">
          <div class='select-field o col s12 m6 l6 xl6' id="ch">
            <input name="elegir" type="radio" ng-click="tipoModificacion()" ng-model="opcionMod" id="opcionn1" value="m"/>
            <label for="opcionn1">Modificar Evento</label>
          </div>
          <div class='select-field o col s12 m6 l6 xl6' id="ch">
            <input name="elegir" type="radio" ng-click="tipoModificacion()" ng-model="opcionMod" id="opcionn2" value="p"/>
            <label for="opcionn2">Añadir o Borrar Participantes</label>
          </div>
        </div>
      </fieldset>   
     <fieldset class="fModal" id="fModal1" style="{{ocultarJ}}">
        <legend>&nbsp;&nbsp;Datos del evento&nbsp;&nbsp;</legend>
        <div class="row">
          <div class='select-field o col s6 m6 l6 xl6' style="{{ocultarA}}">
            <i class="small material-icons prefix">library_books</i>
            <label class="active" for='tevtipoInsercion'>Tipos de eventos</label>
            <select name="elestado" ng-model="eventoElegido" class="browser-default">
              <option ng-repeat="inE in infoEventos">{{inE.nombre}}</option>
            </select> 
          </div>
          <div class='input-field col s12 m6 l6 xl6' style="{{ocultarD}}">
            <i class="material-icons prefix">settings_ethernet</i>
            <input name='id' ng-model="modal.datos.id" disabled/>
            <label class="active" for='id'>id</label>
          </div>
          <div class='input-field col s12 m6 l6 xl6' style="{{ocultarB}}">
            <i class="material-icons prefix">font_download</i>
            <input class="validate" type='text' name='nombre' ng-model="modal.datos.nombre" ng-disabled="staDisabled == true"/>
            <label class="active" for='nombre'>Nombre</label>
          </div>
          <div class='input-field col s12 m6 l6 xl6' style="{{ocultarB}}">
            <i class="material-icons prefix">note</i>
            <input type='text' name='descripcion' ng-model="modal.datos.descripcion" ng-disabled="staDisabled == true"/>
            <label class="active" for='descripcion'>Descripción</label>
          </div>
          
          <div class='input-field col s12 m6 l6 xl6' style="{{ocultarC}}">
            <input class="validate" type='text' ng-model="modal.datos.lugar" ng-disabled="staDisabled == true"/>
            <label class="active" for='stock'>lugar</label>
          </div>

          <div class='input-field col s12 m6 l6 xl6' style="{{ocultarC}}">
            <i class="material-icons prefix">supervisor_account</i>
            <input class="validate" type='number' min="1" name="aforo" ng-model="modal.datos.aforo" ng-disabled="staDisabled == true"/>
            <label class="active" for='aforo'>Aforo</label>
          </div>

          <div class='input-field col s12 m6 l6 xl6' style="{{ocultarC}}">
            <i class="material-icons prefix">euro_symbol</i>
            <input class="validate" type='number' min="0.01" step="0.01" name='precio' ng-model="modal.datos.precioEntrada" ng-disabled="staDisabled == true"/>
            <label class="active" for='precio'>Precio entrada</label>
          </div>

          <div class='input-field col s12 m6 l6 xl6' style="{{ocultarC}}">
            <i class="material-icons prefix">drag_indicator</i>
            <input class="validate" type='number' min="0" name="entradasDisponibles" ng-model="modal.datos.entradasDisponibles" ng-disabled="staDisabled == true"/>
            <label class="active" for='entradasDisponibles'>Entradas disponibles</label>
          </div>

          <div class='input-field col s12 m6 l6 xl6' style="{{ocultarD}}">
            <i class="material-icons prefix">date_range</i>
            <input class="validate" type='text' name='fechaD' ng-model="modal.datos.fecha" disabled/>
            <label class="active" for='fechaD'>Fecha Definitiva</label>
          </div>

          <div class='input-field col s12 m6 l6 xl6' style="{{ocultarB}}">
            <button data-target="fff" ng-click="fff" class='boton-circular-verde'><i class="material-icons">add_photo_alternate</i></button>
            imagen
          </div>

          <div class='input-field col s12 m6 l6 xl6' style="{{ocultarB}}">
            <input class="validate" type='text' ng-model="modal.datos.rutaImagen" ng-disabled="staDisabled == true"/>
            <label class="active" for='ima'>imagenR</label>
          </div>

          <fieldset class="fModal col s12 m12 l12 xl12" style="{{ocultarG}}">
            <legend>&nbsp;&nbsp;fechas posibles&nbsp;&nbsp;</legend>
            <table>
              <tbody>
                <tr>
                  <td>
                    <input type='date' class="in" data-date-format="dd/mm/yyyy" name='nuevaFecha' ng-model="laNuevaFecha" ng-disabled="staDisabled == true"/>
                  </td>
                  <td>
                    <button ng-click="newFecha()" class='boton-circular-verde'><i class="material-icons">add</i></button>
                  </td>
                </tr>
                <tr id="imasA" ng-repeat="fechaP in modal.datos.newFechasP">   
                  <td>
                    <input type='date' class="in" data-date-format="dd/mm/yyyy" name='nuevaF' ng-model="fechaP"/>
                  </td>
                  <td>
                    <button ng-click="borraFecha()" class='boton-circular-rojo'><i class="material-icons">delete_forever</i></button>
                  </td>
                </tr>
              </tbody>  
            </table>
          </fieldset>
        </fieldset>
        <fieldset class="fModal" style="{{ocultarC}}">
        <legend>&nbsp;&nbsp;participantes&nbsp;&nbsp;</legend> 
            <table>
              <tbody>
                <tr>
                  <td>
                    <select name="elparty" ng-model="partyElegido" class="browser-default">
                      <option ng-repeat="party in participantes">{{party.id}} - {{party.nombre}} {{party.apellido1}} {{party.apellido2}} - {{party.grupo}}</option>
                    </select>
                  </td>
                  <td>
                    <button ng-click="newParticipante()" class='boton-circular-verde'><i class="material-icons">group_add</i></button>
                  </td>
                </tr>
                <tr ng-repeat="elParty in modal.datos.arrayParticipantes">   
                  <td>
                    {{elParty.id}} - {{elParty.nombre}} {{elParty.apellido1}} {{elParty.apellido2}} - {{elParty.grupo}}
                  </td>
                  <td>
                    <button ng-click="borraParticip()" class='boton-circular-rojo'><i class="material-icons">remove</i></button>
                  </td>
                </tr>
              </tbody>  
            </table>
      </fieldset>  
    </form>
    
  </div>
  <div class="modal-footer">
      <button ng-click="queHacer()" class='{{modal.btTipo}} btn'><i class="material-icons left">{{modal.bIcono}}</i>{{modal.boton}}</button>
      <button ng-click="cerrarModal('#mymodal1')" class='boton-rojo btn'><i class="material-icons left">cancel</i>Cancelar</button>
  </div>
</div>

<div id="mymodal2" class="modal">
  <div class="modal-header teal lighten-5">
    <h4><i class="material-icons">chat</i>Mensaje</h4>  
  </div>
  <div class="modal-content">
    <p id="m">{{mensaje}}</p>
    
  </div>
  <div class="modal-footer">
      <button ng-click="cerrarModal('#mymodal2')" class='boton-azul btn'><i class="material-icons left">eject</i>Aceptar</button>
  </div>
</div>
