<main>
    <center>

      <h3 class="titu">INICIA SESIÓN</h3>

      <div class="section"></div>

      <div class="container">
        <div class="z-depth-1 grey lighten-4 row panel">

            <div class='row'>
              <div class='input-field col s12'>
              	<i class="material-icons prefix">account_circle</i>
                <input ng-model="elEmail" class='validate' type='email' name='email' id='email'/>
                <label for='email' data-error="el email no esta escrito correctamente">introduce tu email</label>
              </div>
            </div>
            
            <div class='row'>
              <div class='input-field col s12'>
              	<i class="material-icons prefix">https</i>
                <input ng-model="laContra" class='validate' type='password' name='password' id='password' />
                <label for='password'>introduce tu contraseña</label>
              </div>
            </div>

            <br/>
            <center>
              <div class='row'>
                <button ng-click="arribaa()" class='boton-azul btn'><i class="material-icons left">navigation</i>ENTRAR</button>
              </div>
            </center>
          </form>
        </div>
      </div>
    </center>
</main>


<div id="mymodalInfo" class="modal">
  <div class="modal-header teal lighten-5">
    <h4><i class="material-icons">chat</i>Mensaje</h4>  
  </div>
  <div class="modal-content">
    <p id="m">{{mensaje}}</p>
    
  </div>
  <div class="modal-footer">
      <button ng-click="cerrarModal('#mymodalInfo')" class='boton-azul btn'><i class="material-icons left">eject</i>Aceptar</button>
  </div>
</div>