<main>
    <center>

      <h4 class="titu">LISTA RESERVAS</h4>

      <div class="container">
        <table class="t2">
          <tr><th>desde</th><th>hasta</th></tr>
          <tr><td><input type='date' class="in" data-date-format="dd/mm/yyyy" name='nuevaFecha' ng-model="rango1"/></td><td><input type='date' class="in" data-date-format="dd/mm/yyyy" name='nuevaFecha' ng-model="rango2"/></td>
          <td><button ng-click="buscar()" class='boton-azul btn'><i class="material-icons left">search</i>Buscar</button></td></tr></table>

          <h5 class="titu">PRODUCTOS</h5>

        <table id="tabla1" class="responsive-table centered highlight">

          <thead>
            <tr>
                <th>Id Reserv.</th>
                <th>Id Pro.</th>
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Tienda</th>
                <th>Precio T.</th>
                <th>id Usuario</th>
                <th>nombre U.</th>
                <th>F. Pedido</th>       
            </tr>
          </thead>

          <tbody>
            <tr id="imasA" ng-repeat="listPro in listaP">
              <td>{{listPro.idR}}</td>
              <td>{{listPro.idP}}</td>
              <td>{{listPro.nombre}}</td>
              <td>{{listPro.categoria}}</td>
              <td>{{listPro.tienda}}</td>
              <td>{{listPro.preT}}€</td>
              <td>{{listPro.idU}}</td>
              <td>{{listPro.nombreU}}</td>
              <td>{{listPro.fecha}}</td>
            </tr>
          </tbody>

        </table>

        <h5 class="titu">EVENTOS</h5>

        <table id="tabla1" class="responsive-table centered highlight">

          <thead>
            <tr>
                <th>Id Reserv.</th>
                <th>Id Eve.</th>
                <th>Nombre</th>
                <th>Lugar</th>
                <th>Precio T.</th>
                <th>id Usuario</th>
                <th>nombre U.</th>
                <th>F. Pedido</th>       
            </tr>
          </thead>

          <tbody>
            <tr id="imasA" ng-repeat="listEve in listaE">
              <td>{{listEve.idR}}</td>
              <td>{{listEve.idP}}</td>
              <td>{{listEve.nombre}}</td>
              <td>{{listEve.lugar}}</td>
              <td>{{listEve.preT}}€</td>
              <td>{{listEve.idU}}</td>
              <td>{{listEve.nombreU}}</td>
              <td>{{listEve.fecha}}</td>
            </tr>
          </tbody>

        </table>

      </div>
    </center>
</main>



<div id="mymodal2" class="modal">
  <div class="modal-header teal lighten-5">
    <h4><i class="material-icons">chat</i>Mensaje</h4>  
  </div>
  <div class="modal-content">
    <p id="m">{{mensaje}}</p>
    
  </div>
  <div class="modal-footer">
      <button ng-click="cerrarModal('#mymodal2')" class='boton-azul btn'><i class="material-icons left">eject</i>Aceptar</button>
  </div>
</div>
