<main>
    <center>
  
      <h3 class="titu">MODIFICAR PERFIL</h3>
  
      <div class="container">
        <div class="z-depth-1 grey lighten-4 row panel elPanel">

          <form class="col s12">
            <div class='row'>
              <div class='input-field col s12 m6 l6 xl6'>
              	<i class="material-icons prefix">date_range</i>
                <input ng-model="ultiIniSesion" class='validate' type='text' name='fIniSesion' id='fIniSesion' disabled/>
                <label class="active" for='fIniSesion'>Ultimo inicio sesión</label>
              </div>	
              <div class='input-field col s12 m6 l6 xl6'>
              	<i class="material-icons prefix">email</i>
                <input ng-model="elEmailMod" class='validate' type='email' name='email' id='email'/>
                <label class="active" for='email' data-error="el email no esta escrito correctamente">email</label>
              </div>

              <div class='input-field col s12 m6 l6 xl6'>
                <i class="material-icons prefix">settings_ethernet</i>
                <input ng-model="nifMod" class='validate' type='text' name='nif' id='nif'/>
                <label class="active" for='nif'>NIF</label>
              </div>

              <div class='input-field col s12 m6 l6 xl6'>
                <i class="material-icons prefix">account_circle</i>
                <input ng-model="elnombreMod" class='validate' type='text' name='nombre' id='nombre'/>
                <label class="active" for='nombre'>nombre</label>
              </div>

              <div class='input-field col s12 m6 l6 xl6'>
                <i class="material-icons prefix">format_bold</i>
                <input ng-model="ape1Mod" class='validate' type='text' name='ape1' id='ape1'/>
                <label class="active" for='ape1'>primer apellido</label>
              </div>

              <div class='input-field col s12 m6 l6 xl6'>
                <i class="material-icons prefix">local_parking</i>
                <input ng-model="ape2Mod" class='validate' type='text' name='ape2' id='ape2'/>
                <label class="active" for='ape2'>segundo apellido</label>
              </div>

              <div class='input-field col s12 m6 l6 xl6'>
                <i class="material-icons prefix">phone</i>
                <input ng-model="telMod" class='validate' type='tel' name='telefono' id='telefono'/>
                <label class="active" for='telefono' data-error="el telefono debe ser un número">teléfono</label>
              </div>

              <div class='input-field col s12 m6 l6 xl6'>
                <i class="material-icons prefix">place</i>
                <input ng-model="direMod" class='validate' type='text' name='dire' id='dire'/>
                <label class="active" for='dire'>dirección</label>
              </div>

              <div class='input-field col s12 m6 l6 xl6'>
                <i class="material-icons prefix">account_balance</i>
                <input ng-model="localMod" class='validate' type='text' name='local' id='local'/>
                <label class="active" for='local'>localidad</label>
              </div>

              <div class='input-field col s12 m6 l6 xl6'>
                <i class="material-icons prefix">track_changes</i>
                <input ng-model="provMod" class='validate' type='text' name='provincia' id='provincia'/>
                <label class="active" for='provincia'>provincia</label>
              </div>
			</div>
			<div class='row'>
              <fieldset>
                <legend>&nbsp;&nbsp;si desea cambiar la contraseña&nbsp;&nbsp;</legend>    <div class='input-field col s12 m6 l6 xl6'>
              	 <i class="material-icons prefix">https</i>
                  <input ng-model="laContraMod" type='password' name='password'/>
                  <label for='password'>nueva contraseña</label>
                </div>
                <div class='input-field col s12 m6 l6 xl6'>
                  <i class="material-icons prefix">https</i>
                  <input ng-model="laContra2Mod" type='password' name='password'/>
                  <label for='password'>repite contraseña</label>
                </div>
              </fieldset>
            </div>

            <br/>
            <center>
              <div class='row'>
                <button ng-click="modificArriba()" class='boton-azul btn'><i class="material-icons left">navigation</i>MODIFICAR</button>
              </div>
            </center>
          </form>
        </div>
      </div>
    </center>
</main>

<div id="mymodalM" class="modal">
  <div class="modal-header teal lighten-5">
    <h4><i class="material-icons">chat</i>Mensaje</h4>  
  </div>
  <div class="modal-content">
    <p id="m">{{mensaje}}</p>
    
  </div>
  <div class="modal-footer">
      <button ng-click="cerrarModal('#mymodalM')" class='boton-azul btn'><i class="material-icons left">eject</i>Aceptar</button>
  </div>
</div>