<footer class="teal lighten-2">
	<span ng-if="elUsuario.getTipo()==1">ivanao</span><span ng-if="elUsuario.getTipo()!=1" id="aux2">ivanao</span><a ng-if="elUsuario.getTipo()==1" href='#docu'>Documentación sobre proyecto</a>
</footer>