<main>
    <center>
  
      <h3 class="titu">REGISTRO</h3>
  
      <div class="container">
        <div class="z-depth-1 grey lighten-4 row panel elPanel">

          <form class="col s12">
            <div class='row'>
              <div class='input-field col s12 m6 l6 xl6'>
              	<i class="material-icons prefix">email</i>
                <input ng-model="elEmail" class='validate' type='email' name='email' id='email'/>
                <label for='email' data-error="el email no esta escrito correctamente">email</label>
              </div>

              <div class='input-field col s12 m6 l6 xl6'>
                <i class="material-icons prefix">settings_ethernet</i>
                <input ng-model="nif" class='validate' type='text' name='nif' id='nif'/>
                <label for='nif'>NIF</label>
              </div>

              <div class='input-field col s12 m6 l6 xl6'>
                <i class="material-icons prefix">account_circle</i>
                <input ng-model="elnombre" class='validate' type='text' name='nombre' id='nombre'/>
                <label for='nombre'>nombre</label>
              </div>

              <div class='input-field col s12 m6 l6 xl6'>
                <i class="material-icons prefix">format_bold</i>
                <input ng-model="ape1" class='validate' type='text' name='ape1' id='ape1'/>
                <label for='ape1'>primer apellido</label>
              </div>

              <div class='input-field col s12 m6 l6 xl6'>
                <i class="material-icons prefix">local_parking</i>
                <input ng-model="ape2" class='validate' type='text' name='ape2' id='ape2'/>
                <label for='ape2'>segundo apellido</label>
              </div>

              <div class='input-field col s12 m6 l6 xl6'>
                <i class="material-icons prefix">phone</i>
                <input ng-model="tel" class='validate' type='tel' name='telefono' id='telefono'/>
                <label for='telefono' data-error="el telefono debe ser un número">teléfono</label>
              </div>

              <div class='input-field col s12 m6 l6 xl6'>
                <i class="material-icons prefix">place</i>
                <input ng-model="dire" class='validate' type='text' name='dire' id='dire'/>
                <label for='dire'>dirección</label>
              </div>

              <div class='input-field col s12 m6 l6 xl6'>
                <i class="material-icons prefix">account_balance</i>
                <input ng-model="local" class='validate' type='text' name='local' id='local'/>
                <label for='local'>localidad</label>
              </div>

              <div class='input-field col s12 m6 l6 xl6'>
                <i class="material-icons prefix">track_changes</i>
                <input ng-model="prov" class='validate' type='text' name='provincia' id='provincia'/>
                <label for='provincia'>provincia</label>
              </div>
            
              <div class='input-field col s12 m6 l6 xl6'>
              	<i class="material-icons prefix">https</i>
                <input ng-model="laContra" type='password' name='password'/>
                <label for='password'>introduce contraseña</label>
              </div>
              <div class='input-field col s12 m6 l6 xl6'>
                <i class="material-icons prefix">https</i>
                <input ng-model="laContra2" type='password' name='password'/>
                <label for='password'>repite contraseña</label>
              </div>
            </div>

            <br/>
            <center>
              <div class='row'>
                <button ng-click="regArriba()" class='boton-azul btn'><i class="material-icons left">navigation</i>REGISTRATE</button>
              </div>
            </center>
          </form>
        </div>
      </div>
    </center>
</main>

<div id="mymodalR" class="modal">
  <div class="modal-header teal lighten-5">
    <h4><i class="material-icons">chat</i>Mensaje</h4>  
  </div>
  <div class="modal-content">
    <p id="m">{{mensaje}}</p>
    
  </div>
  <div class="modal-footer">
      <button ng-click="cerrarModal('#mymodalR')" class='boton-azul btn'><i class="material-icons left">eject</i>Aceptar</button>
  </div>
</div>