
<main>
<center>

<h4 class="titu">RESERVAR PRODUCTOS</h4>

<div id="cat">
<i class="small material-icons prefix">local_offer</i>
<label class="active" for='lacategoria'>Categoria</label>
<select id="cat2" name="lacategoria" ng-model="categoriaSelec" class="browser-default" ng-disabled="staDisabled == true">
<option disabled selected>-- Selecciona --</option>
<option ng-repeat="c in categorias">{{c.nombre}}</option>
</select>	
</div>

<div id="imaP" class="row" ng-repeat="articulo in articulos">

<div ng-if="categoriaSelec==articulo.categoria || categoriaSelec==undefined" class="imasAg" class="col s12 m12 l12 xl12">
    <a ng-repeat="foto in articulo.arrayIma"><img ng-click="cambio()" class="imagen" src="{{foto.ruta}}"></a>
    <p>Nombre: {{articulo.nombre}}</p>
	<p>Descripción: {{articulo.descripcion}} 
	<p>Precio: {{articulo.precio}}€&nbsp;&nbsp;&nbsp;&nbsp;Stock: {{articulo.stock}}</p>
	<p>Categoria: {{articulo.categoria}}&nbsp;&nbsp;&nbsp;&nbsp;Tienda: {{nombreTiendas[articulo.idTienda]}}</p>

    <div class='input-field col s4 m4 l4 xl4'>
        <i class="material-icons prefix">drag_indicator</i>
        <input class="validate" type='number' min="1" max="{{articulo.stock}}" name="stock" ng-model="cantidad"/>
        <label for='stock'>Cantidad</label>
    </div>
	<button ng-click="reservar()" class='boton-azul btn'><i class="material-icons left">touch_app</i>Reservalo ya</button>
</div>

</div>

</center>
</main>

<div id="mymodal2" class="modal">
  <div class="modal-header teal lighten-5">
    <h4><i class="material-icons">chat</i>Mensaje</h4>  
  </div>
  <div class="modal-content">
    <p id="m">{{mensaje}}</p>
    
  </div>
  <div class="modal-footer">
      <button ng-click="cerrarModal('#mymodal2')" class='boton-azul btn'><i class="material-icons left">eject</i>Aceptar</button>
  </div>
</div>
