<main>
    <center>

      <h4 class="titu">ADMINISTRAR TIENDAS</h4>

      <div class="container">

        <table id="tabla1" class="responsive-table centered highlight">

          <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Ciudad</th>
                <th>C. Postal</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>fax</th>
                <th>
                    <button data-target="mymodal1" ng-click="anhadir()" class='boton-circular-verde modal-trigger'><i class="material-icons">playlist_add</i></button>
                </th>     
            </tr>
           </thead>

          <tbody>
            <tr id="imasA" ng-repeat="tienda in tiendas">
              <td>{{tienda.id}}</td>
              <td>{{tienda.nombre}}</td>
              <td>{{tienda.direccion}}</td>
              <td>{{tienda.ciudad}}</td>
              <td>{{tienda.codigoPostal}}</td>
              <td>{{tienda.telefono}}</td>
              <td>{{tienda.email}}</td>
              <td>{{tienda.fax}}</td>
              <td class="t">
                <button data-target="mymodal1" ng-click="modif()" class='boton-circular-azul modal-trigger'><i class="material-icons">build</i></button>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
    </center>
</main>

<div id="mymodal1" class="modal">
  <div class="modal-header {{modal.hColor}}">
    <h4><i class="material-icons">{{modal.icono}}</i>{{modal.titulo}}</h4>  
  </div>
  <div class="modal-content">
    <form class="col s12 {{modal.rCampos}}" method="post">

     <fieldset class="fModal" id="fModal1">
        <legend>&nbsp;&nbsp;Datos de la tienda&nbsp;&nbsp;</legend>
        <div class="row">
          <div class='input-field col s12 m6 l6 xl6'>
            <i class="material-icons prefix">settings_ethernet</i>
            <input name='id' ng-model="modal.datos.id" disabled/>
            <label class="active" for='id'>id</label>
          </div>
          <div class='input-field col s12 m6 l6 xl6'>
            <i class="material-icons prefix">font_download</i>
            <input class="validate" type='text' name='nombre' ng-model="modal.datos.nombre"/>
            <label class="active" for='nombre'>Nombre</label>
          </div>
          <div class='input-field col s12 m6 l6 xl6'>
            <i class="material-icons prefix">place</i>
            <input type='text' name='descripcion' ng-model="modal.datos.direccion"/>
            <label class="active" for='descripcion'>direccion</label>
          </div>
          <div class='input-field col s12 m6 l6 xl6'>
            <i class="material-icons prefix">account_balance</i>
            <input type='text' name='descripcion' ng-model="modal.datos.ciudad"/>
            <label class="active" for='descripcion'>ciudad</label>
          </div>
          <div class='input-field col s12 m6 l6 xl6'>
          	<i class="material-icons prefix">view_week</i>
            <input class="validate" type='text' name="stock" ng-model="modal.datos.codigoPostal"/>
            <label class="active" for='stock'>C. Postal</label>
          </div>

          <div class='input-field col s12 m6 l6 xl6'>
            <i class="material-icons prefix">phone</i>
            <input class="validate" type='tel' name="aforo" ng-model="modal.datos.telefono"/>
            <label class="active" for='aforo'>Teléfono</label>
          </div>

          <div class='input-field col s12 m6 l6 xl6'>
            <i class="material-icons prefix">email</i>
            <input class="validate" type='email' ng-model="modal.datos.email"/>
            <label class="active" for='precio'>Email</label>
          </div>

          <div class='input-field col s12 m6 l6 xl6'>
            <i class="material-icons prefix">print</i>
            <input class="validate" type='text' ng-model="modal.datos.fax"/>
            <label class="active" for='precioo'>Fax</label>
          </div>
         </div> 
        </fieldset>
    </form>
    
  </div>
  <div class="modal-footer">
      <button ng-click="queHacer()" class='{{modal.btTipo}} btn'><i class="material-icons left">{{modal.bIcono}}</i>{{modal.boton}}</button>
      <button ng-click="cerrarModal('#mymodal1')" class='boton-rojo btn'><i class="material-icons left">cancel</i>Cancelar</button>
  </div>
</div>

<div id="mymodal2" class="modal">
  <div class="modal-header teal lighten-5">
    <h4><i class="material-icons">chat</i>Mensaje</h4>  
  </div>
  <div class="modal-content">
    <p id="m">{{mensaje}}</p>
    
  </div>
  <div class="modal-footer">
      <button ng-click="cerrarModal('#mymodal2')" class='boton-azul btn'><i class="material-icons left">eject</i>Aceptar</button>
  </div>
</div>
