
<main>
<center>

<h4 class="titu">VER EVENTOS</h4>

<div class="container">
 <table class="t2">
  <tr><th>desde</th><th>hasta</th></tr>
  <tr><td><input type='date' class="in" data-date-format="dd/mm/yyyy" name='nuevaFecha' ng-model="rango1"/></td><td><input type='date' class="in" data-date-format="dd/mm/yyyy" name='nuevaFecha' ng-model="rango2"/></td>
   <td><button ng-click="porFecha()" class='boton-azul btn'><i class="material-icons left">search</i>Buscar</button></td></tr></table>

  </div>
<div id="imaP" class="row" ng-repeat="evento in eventos">

  <img class=ffff src="{{evento.rutaImagen}}" alt="">
  <p>Nombre: {{evento.nombre}}&nbsp;&nbsp;&nbsp;&nbsp;Descripción: {{evento.descripcion}}</p>
	<p>Fecha: {{evento.fecha}}&nbsp;&nbsp;&nbsp;&nbsp;Lugar: {{evento.lugar[0]}} 
	<p>Precio: {{evento.precioEntrada}}€&nbsp;&nbsp;&nbsp;&nbsp;Aforo: {{evento.aforo}}&nbsp;&nbsp;&nbsp;&nbsp;E. Disponibles: {{evento.entradasDisponibles}}</p>

  <p class="elP">PARTICIPANTES:</p>
  <div class="row" ng-repeat="participante in evento.arrayParticipantes
">
    <p>{{participante[1]}} {{participante[2]}} {{participante[3]}} -> {{participante[4]}}</p>
  </div>

</div>

</center>
</main>

<div id="mymodal2" class="modal">
  <div class="modal-header teal lighten-5">
    <h4><i class="material-icons">chat</i>Mensaje</h4>  
  </div>
  <div class="modal-content">
    <p id="m">{{mensaje}}</p>
    
  </div>
  <div class="modal-footer">
      <button ng-click="cerrarModal('#mymodal2')" class='boton-azul btn'><i class="material-icons left">eject</i>Aceptar</button>
  </div>
</div>
