<main>
<center>

<h4 class="titu">VER PRODUCTOS</h4>

<div id="cat">
<i class="small material-icons prefix">local_offer</i>
<label class="active" for='lacategoria'>Categoria</label>
<select id="cat2" name="lacategoria" ng-model="categoriaSelec" class="browser-default" ng-disabled="staDisabled == true">
<option disabled selected>-- Selecciona --</option>
<option ng-repeat="c in categorias">{{c.nombre}}</option>
</select>	
</div>

  <div id="imaP" class="row">

    <div ng-repeat="articulo in articulos" ng-if="categoriaSelec==articulo.categoria || categoriaSelec==undefined" class="imasAg col s12 m12 l6 xl6">
      <fieldset class="D8535G2">
        <a ng-repeat="foto in articulo.arrayIma" style="display:{{foto.mostrar}};"><img ng-click="cambio(articulo.myIndex)" class="imagen M9372C03B" src="{{foto.ruta}}"></a>
        <p>Nombre: {{articulo.nombre}}</p>
        <p>Descripción: {{articulo.descripcion}}</p>
        <p>Categoria: {{articulo.categoria}}<p>
        <p>Tienda: {{nombreTiendas[articulo.idTienda]}}</p> 
        <p>Stock: {{articulo.stock}}</p>
        <p>Precio: {{articulo.precio}}€</p>
      </fieldset>
    </div>

  </div>

</center>
</main>

<div id="mymodal2" class="modal">
  <div class="modal-header teal lighten-5">
    <h4><i class="material-icons">chat</i>Mensaje</h4>  
  </div>
  <div class="modal-content">
    <p id="m">{{mensaje}}</p>
    
  </div>
  <div class="modal-footer">
      <button ng-click="cerrarModal('#mymodal2')" class='boton-azul btn'><i class="material-icons left">eject</i>Aceptar</button>
  </div>
</div>
