@import url('https://fonts.googleapis.com/css?family=Knewave');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Lemon');


* {
	font-family: 'Fjalla One', sans-serif;
}

html {
	min-height: 100%;
	position: relative;
}

body {
	background-image: url("../../ima/pluma.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin: 0;
	margin-bottom: 40px;
}

h3 {
	color: black!important;
}

.mylogo {
	font-family: 'Knewave', cursive;
	background: white;
	color: #000080!important;
}

.mylogo > i {
	margin-left: 0.2em;
	font-size: 1.3em!important;
}

.tituL {
	font-family: 'Knewave', cursive;
	color: #000080!important;
	font-size: 1.5em;
}

#tprin {
	margin-top: 2em;
}

.e, .mylogo > i {
 	color: #26a69a;
}

#asociacion {
	color: #26a69a;
	font-family: 'Knewave', cursive;
	font-size: 1.5em;
}

.elP {
	margin-left: 40em;
}

#iPortada {
	margin-top: 2em;
	width: 50em;
}

.e, .h {
	font-family: 'Knewave', cursive;
}

.h {
	color: red;
}

#cat2 {
	width: 10em!important;
}

#imaP {
	margin-top: 4em;
	max-width: 80%;
}

.titu {
	margin-top: 1.5em;
	margin-bottom: 1.5em; 
}

.imasAg > a > img {
	margin: 0.5em;
}

.imasAg {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 4em
}

.D8535G2 {
	background-color: #F5F5F5;
	width: 90%;
	padding-top: 2em;
}

.panel {
	display: inline-block;
	padding: 32px 48px 0px 48px;
	border: 1px solid #EEE;
}

.elPanel {
	width: 50em!important;
}

#flota-label {
	float: right;
}

#tabla1 {
	background: white;
}

#tabla1 > thead > tr > th {
	font-size: 1.2em;
}

#tabla1 > tbody > tr > td > imput:disabled {
	color: #000000!important;
	font-weight: bold!important; 
}

#tabla1 > tbody > tr > td > input[disabled] {
	color: #000000!important;
	font-weight: bold!important;
}

#tabla1 > tbody > tr > td > input {
	text-align: center!important;
}

#imasA > td > img {
	width: 5em;
}

.imagen {
	width: 14em;
}

.t2 {
	background: white;
}

.imasV {
	width: 8em!important;
}

.modal-header {
	padding: 0.7em;
}

.resalte-campos > div > div > div > label {
	color: blue;
}

.M9372C03B {
	cursor: hand;
	cursor: pointer;
	width: 90%;
}

.M9372C03B:hover {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}

@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

legend {
	text-align: center;
}

.in {
	text-align: center;
}

.fModal {
	border-radius: 0.4em;
	margin-bottom: 1em;
}

#fModal1 {
	padding-top: 1em;
	margin-bottom: 1.2em;
}

.o > label {
	font-weight: bold;
	font-size: 0.9em;
}

th, td {
	text-align: center;
}


.t > button {
	margin: 0.2em!important;
}

#u {
	margin-top: 1.2em;
}

#ch {
	margin-top: 2.2em;
}

.D8535G2 > p {
	text-align: left;
	width: 90%;
}

.modal-footer > button {
	margin: 0.2em!important;
} 

#aux {
	color: white!important;
}

#aux:hover {
	opacity: 1.0;
	box-shadow: none;
	color: white!important;
}

#m {
	font-family: 'Lemon', cursive;
	color: blue;
}

footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 2em;
	color: white;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}

#aux2{
	margin-right: 0!important;
}

.ffff {
	width: 50em;
} 

#cent {
	margin-top: 0.5em!important;
}

#ima1 {
	margin-top: 1em;
	width: 50em;
}

#mbd {
	width: 53em;
}

.mbd2 {
	width: 25em;
}

#alin {
	margin-left: 40%!important;
	text-align: left;
}

.aling2{
	margin-left: 8%!important;
	margin-right: 4%!important;
	text-align: left;
}

.aling2 > p {
	font-family: Arial;
}

#blanco {
	background: white;
	font-size: 1.2em;
	font-family: Arial;
}

footer > span {
	font-family: 'Lobster', cursive;
	font-size: 1.5em;
	margin-right: 30%;
}

footer > a {
	color: white;		
}

footer > a:hover{
	color: #4169E1;
	font-weight: bold;		
}

@media (max-width: 393px) {

	#J274F820 {
		display: none;
	}

	#K540521G {
		margin-right: 0.2em;
	}
	
}