.boton-azul {
	border: none;
	background: #4169E1;
	color: #fff;
	box-sizing: border-box;
	position: relative;
}

.boton-azul:hover {
	background: rgba(0,0,0,0);
 	color: #4169E1;
 	box-shadow: inset 0 0 0 4px #4169E1;
}

.boton-azul:focus, .boton-azul:disabled {
	background: #4169E1;
	color: #fff;
}

.boton-verde {
	border: none;
	background: #228B22;
	color: #fff;
	box-sizing: border-box;
	position: relative;
}

.boton-verde:hover {
	background: rgba(0,0,0,0);
 	color: #228B22;
 	box-shadow: inset 0 0 0 4px #228B22;
}

.boton-verde:focus, .boton-verde:disabled {
	background: #228B22;
	color: #fff;
}

.boton-rojo {
	border: none;
	background: #FF0000;
	color: #fff;
	box-sizing: border-box;
	position: relative;
}

.boton-rojo:hover {
	background: rgba(0,0,0,0);
 	color: #FF0000;
 	box-shadow: inset 0 0 0 4px #FF0000;
}

.boton-rojo:focus, .boton-rojo:disabled {
	background: #FF0000;
	color: #fff;
}

.boton-naranja {
	border: none;
	background: #DAA520;
	color: #fff;
	box-sizing: border-box;
	position: relative;
}

.boton-naranja:hover {
	background: rgba(0,0,0,0);
 	color: #DAA520;
 	box-shadow: inset 0 0 0 4px #DAA520;
}

.boton-naranja:focus, .boton-naranja:disabled {
	background: #DAA520;
	color: #fff;
}

.boton-circular-verde {
	width: 2.9em;
	height: 2.9em;
	border: none;
	background: #228B22;
	color: #fff;
	box-sizing: border-box;
	position: relative;
	border-radius: 50%;
}

.boton-circular-verde:hover {
	background: rgba(0,0,0,0);
 	color: #228B22;
 	box-shadow: inset 0 0 0 4px #228B22;
}

.boton-circular-verde:focus, .boton-circular-verde:disabled {
	background: #228B22;
	color: #fff;
}

.boton-circular-verde > i {
	font-size: 1.9em;
}

.boton-circular-azul {
	width: 2.9em;
	height: 2.9em;
	border: none;
	background: #0000FF;
	color: #fff;
	box-sizing: border-box;
	position: relative;
	border-radius: 50%;
}

.boton-circular-azul:hover {
	background: rgba(0,0,0,0);
 	color: #0000FF;
 	box-shadow: inset 0 0 0 4px #0000FF;
}

.boton-circular-azul:focus, .boton-circular-azul:disabled {
	background: #0000FF;
	color: #fff;
}

.boton-circular-azul > i {
	font-size: 1.9em;
}

.boton-circular-rojo {
	width: 2.9em;
	height: 2.9em;
	border: none;
	background: #FF0000;
	color: #fff;
	box-sizing: border-box;
	position: relative;
	border-radius: 50%;
}

.boton-circular-rojo:hover {
	background: rgba(0,0,0,0);
 	color: #FF0000;
 	box-shadow: inset 0 0 0 4px #FF0000;
}

.boton-circular-rojo:focus, .boton-circular-rojo:disabled {
	background: #FF0000;
	color: #fff;
}

.boton-circular-rojo > i {
	font-size: 1.9em;
}

.borde-gris {
	border: 0.1em solid #DCDCDC;
	border-radius: 0.4em;
	padding: 1.4em;
	margin-bottom: 1em;
}